form.login{
	text-align:center;
background-image:  linear-gradient(#141e30 , #243b55);
	font-weight: bold;
	margin-left: 500px;
	margin-right: 500px;
	height: 500px;
}
body{
background-image: linear-gradient(#8bf8e56e, #faaca899);
}
.fini
{

margin:20px;
	border:1px solid black;
background-image: linear-gradient(#ff7e5f , #feb47b);
}



h1{
	text-align:center;
font-family:Impact, Charcoal, sans-serif;
font-style:bold;

}
h2{
text-align:center;
font-family:Arial, Helvetica, sans-serif;
background-image: linear-gradient(#ff7e5f , #feb47b);
}

p
{

	font-size:20px;
font-family:Candara;}
#signupbutton{
color: black;
border-left: 1px solid black;
border-right: 1px solid black;
border-top: 1px solid black;}
#loginbutton{
	border:1px solid black;
}
